<div style="height: 30%; background-color: #83AAE5;">
<h1 style="color: black; text-align: center; font-weight: bold; padding: 20%;">AGENDY PLUS</h1>
</div>
<div style="height: 100%; background-color: #EDEDED;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Documento de Identidad</ion-label>
        <ion-select >
          <ion-select-option value="cc">Cédula de Ciudadanía</ion-select-option>
          <ion-select-option value="ce">Cédula de Extranjería</ion-select-option>
          <ion-select-option value="pp">Pasaporte</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de documento</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" color="success" routerLink="/tipo-cita">Ingresar</ion-button>
  </ion-card>
  <ion-button routerLink="/register" >Registrarse</ion-button>
</div>